<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.tlnewsapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.app.tlnewsapp.activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppMaterialTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.tlnewsapp.activities.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.tlnewsapp.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityUserLogin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityUserRegister"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityForgotPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityFullScreenImage"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityComments"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivitySendComment"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityUpdateComment"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityReplyComment"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityNewsDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityCategoryDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityPrivacyPolicy"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityYoutubePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityVideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityWebView"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityWebViewImage"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivityNotificationDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.app.tlnewsapp.activities.ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateVisible" />

        <service android:name="com.app.tlnewsapp.fcm.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.app.tlnewsapp.fcm.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>

</manifest>